<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="{{ url_for('static', filename='/assets/N_icon.png') }}"
      type="image/png"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexGen</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-light border-bottom fixed-top">
      <div class="container-fluid">
        <!--navbar logo-->
        <a class="navbar-brand mx-3 mt-2" href="/">
          <img
            class="img-fluid"
            src="{{ url_for('static', filename='assets/nexgen_colored.png') }}"
            alt="NexGen Marketing & Design Co."
            style="max-width: 200px; max-height: 50px"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarmenu"
          aria-controls="navbarmenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--navbar menu-->
        <div
          class="collapse navbar-collapse fs-5 fw-semibold ms-1"
          id="navbarmenu"
        >
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </a>
              <!--drop down services links-->
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('services') }}#web-design"
                    >Web Design</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('services') }}#branding"
                    >Branding</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{{ url_for('services') }}#Digital-Marketing-Services"
                    >Digital Marketing Services</a
                  >
                </li>
              </ul>
            </li>
            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
          </div>
        </div>
        <a
          class="btn btn-primary mx-3 btn-lg d-none d-lg-inline"
          href="#"
          role="button"
          >Contact</a
        >
      </div>
    </nav>
    <!--main body-->

    {% block content %} {% endblock %}

    <!--footer-->
    <footer class="footer mt-auto pt-1 bg-light border-top">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex align-items-end">
            <p class="text-muted">&copy; 2022 NexGen Marketing & Design Co.</p>
          </div>

          <!--social media icons-->
          <div class="col-4 d-flex justify-content-center">
            <a href="#" class="me-4">
              <i class="bi bi-facebook fs-3"></i>
            </a>
            <a href="#" class="me-4">
              <i class="bi bi-twitter fs-3"></i>
            </a>
            <a href="#" class="me-4">
              <i class="bi bi-instagram fs-3"></i>
            </a>
            <a href="#">
              <i class="bi bi-envelope fs-3"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
