<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/flask/static/assets/N_icon.png" type="image/png" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NexGen</title>
    <link rel="stylesheet" href="/flask/static/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-light border-bottom">
      <div class="container-fluid">
        <!--navbar logo-->
        <a class="navbar-brand mx-3 mt-2" href="#">
          <img
            class="img-fluid"
            src="/flask/static/assets/nexgen_colored.png"
            alt="NexGen Marketing & Design Co."
            style="max-width: 200px; max-height: 50px"
          />
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarmenu"
          aria-controls="navbarmenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--navbar menu-->
        <div
          class="collapse navbar-collapse fs-5 fw-semibold ms-1"
          id="navbarmenu"
        >
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Services
              </a>
              <!--drop down services links-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Web Design</a></li>
                <li><a class="dropdown-item" href="#">Branding</a></li>
                <li>
                  <a class="dropdown-item" href="#"
                    >Digital Marketing Services</a
                  >
                </li>
              </ul>
            </li>
            <a class="nav-link" href="#">About Us</a>
          </div>
        </div>
        <a
          class="btn btn-primary mx-3 btn-lg d-none d-lg-inline"
          href="#"
          role="button"
          >Contact</a
        >
      </div>
    </nav>

    <!--main body-->
    <body>
      <!--about us -->
      <div class="card mb-3 border-0 bg-light" style="max-width: 100%">
        <div class="row g-0 flex-row-reverse">
          <div class="col-md-4">
            <img
              src="/flask/static/assets/connect_people.jpg"
              class="img-fluid flex-row-reverse"
              alt="..."
              style="height: 100%; width: 100%"
            />
          </div>
          <div class="col-md-8 bg-light">
            <div class="card-body">
              <h1 class="card-title display-1 mb-4 pt-5">
                We craft brands that connect.
              </h1>
              <div class="col-10">
                <p class="card-text fs-3 ps-3 pt-3">
                  In today's digital world, a strong brand is essential for
                  building lasting relationships with your audience. We go
                  beyond just creating beautiful designs - we develop
                  <em class="fw-bold">cohesive brand identities</em>
                  that resonate deeply and connect with your target market on a
                  meaningful level.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

    <!--our story-->

    <!--make our story in the center with h1 and display-1 -->
    <div class="text-center">
      <h1 class="display-1 my-5">Our Story</h1>
    </div>
    <div class="text-center col-md-9 fs-3 mx-auto mb-5">
      NexGen was born from a shared passion for helping businesses thrive in the
      digital age. We saw a gap between simply creating visuals and crafting
      brands that truly connect with their audience. We believe in the power of
      strategic branding, user-centric web development, and data-driven
      marketing to build meaningful relationships with customers and drive
      results.
    </div>
    <div class="text-center">
      <img
        src="/flask/static/assets/jumping_people.webp"
        alt="jumping people"
      />
    </div>

    <!--Why Choose Us?-->
    <div class="bg-light">
      <div class="text-center bg-light">
        <h1 class="display-1 my-5">Why Choose Us?</h1>
      </div>
      <div class="text-center col-md-9 fs-3 mx-auto mb-5 bg-light">
        <p>
          At NexGen, we believe in the power of strategic branding, user-centric
          web development, and data-driven marketing to build meaningful
          relationships with customers and drive results. We are passionate
          about helping businesses thrive in the digital age and are committed
          to providing exceptional service and results for our clients.
        </p>
        <!--ready to connect button-->
        <div class="text-center">
          <a class="btn btn-primary btn-lg my-5" href="#" role="button"
            >Ready to work together?</a
          >
        </div>
      </div>
    </div>

    <!--footer-->
    <footer class="footer mt-auto pt-1 bg-light border-top">
      <div class="container">
        <div class="row">
          <div class="col-4 d-flex align-items-end">
            <p class="text-muted">&copy; 2022 NexGen Marketing & Design Co.</p>
          </div>

          <!--social media icons-->
          <div class="col-4 d-flex justify-content-center">
            <a href="#" class="me-4">
              <i class="bi bi-facebook fs-3"></i>
            </a>
            <a href="#" class="me-4">
              <i class="bi bi-twitter fs-3"></i>
            </a>
            <a href="#" class="me-4">
              <i class="bi bi-instagram fs-3"></i>
            </a>
            <a href="#">
              <i class="bi bi-envelope fs-3"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
