.margin-block {
  margin-top: 160px;
}

.footer-margin-block {
  margin-top: 110px;
}

html,
body {
  height: 100%;
  padding-top: 35px;
}

body {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

/* to make the picture contained in the specified space*/
object-fit-section {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
