.margin-block {
  margin-top: 150px;
}

.footer-margin-block {
  margin-top: 125px;
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}
